<%var page= page%>
   <% include ../partials/header %>
    <div class="container">
        <div class="container__left">
            <div class="container__left__create fullsize">
                <a href="#">
                    <div class="blog__container__left__image" style="background-image: url(../img/1.jpg)">
                    </div>
                    <h1>I want to create...</h1>
                    <span>a Gallery</span></a>
            </div>

        </div>
        <div class="container__right">
            <div class="container__right__create fullsize">
                <a href="/<%=page%>/new/blog">
                    <div class="blog__container__left__image" style="background-image: url(../.jpg)">
                    </div>
                    <h1>I want to create...</h1>
                    <span>a Blog post</span>
                </a>
            </div>
        </div>
    </div>
    </body>

<%include ../partials/header%>
