<% include ./partials/header %>

<!--
<div class="ui move reveal loader">

    <div class="visible content"><div class="ui image" id="loader"></div></div>
<div class="hidden content">
   </div></div>
-->
    <div class="m-container">
        <div class="container__left">
            <div class="landing-menu fullsize">

                <div class="art ui move reveal">
                    <div class="visible content">
                        <img src="https://imgur.com/344xfUu.jpg" class="ui image fullsize">
                    </div>
                    <a class="ui hidden fullsize center-aligned content" href="/art">
                        <h1>Art</h1>
                    </a>
                </div>

                <div class="tech ui move reveal">
                    <div class="visible content">
                        <img src="https://imgur.com/SvbPqjo.jpg" class="ui image fullsize">
                    </div>
                    <a class="ui hidden fullsize center-aligned content" href="/technology">
                        <h1>Technology</h1>
                    </a>
                </div>

                <div class="design ui move reveal">
                    <div class="visible content">
                        <img src="https://imgur.com/IiWIcbq.jpg" class="ui image fullsize">
                    </div>
                    <a class=" hidden fullsize center-aligned content ui" href="/design">
                        <h1>Design</h1>
                    </a>
                </div>
                <div class="travel ui move reveal">
                    <div class="visible content"><img src="https://imgur.com/cOSY1mE.jpg" class="ui image fullsize"></div>
                    <a class="hidden fullsize center-aligned content ui" href="/travel">
                        <h1>Travel</h1>
                    </a>
                </div>
                <div class="music ui move reveal">
                    <div class="visible content"><img src="https://imgur.com/06QPSUe.jpg" class="ui image fullsize"></div>
                    <a class="hidden fullsize center-aligned content ui" href="/music">
                        <h1>Music</h1>
                    </a>
                </div>
            </div>


        </div>
        <div class="container__right">
            <div class="container__left__landing">
                <h1>Welcome to Readability</h1>
                <p>Coloring book lo-fi lorem nisi roof party, humblebrag austin banjo locavore. Woke humblebrag irure mlkshk, commodo do actually est occaecat. Kombucha kogi seitan, pour-over microdosing put a bird on it next level ut everyday carry franzen leggings 90's jianbing listicle iceland. </p>
            </div>
            </div>
        </div>
    </div>
    </div>
    </body>
<%include ./partials/footer%>
