<% include ./partials/header %>
    <div class="m-container">
        <div class="container__left">
            <div class="container__sign-up__image fullsize"><h1>Sign up to Readability</h1></div>
        </div>
        <div class="container__right">
            <div class="container__left__login center-aligned fullsize">
            <form class="ui form m-form" action="/signup" method="post">
             <div class="field">
                <label>Profile Picture Link</label>
                <input type="text" name="imageurl" placeholder="https://example.com/image">
                </div>
                  <div class="field">
                <label>Full Name</label>
                <input type="text" name="fullname" placeholder="e.g. Ben Hayes">
                </div>
              <div class="field">
               <label>Username</label>
                <input type="text" name="username" placeholder="Username">
                </div>

                <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
                </div>

                <button class="ui button">Sign Up</button>
            </form>
            </div>
        </div>
    </div>
</body>

<%include ./partials/footer%>
